<main class="wrapper" id="scroll-container">
  <section id="home" spyTarget="home" class="spy-section home-section bg-dark">
    <app-home></app-home>
  </section>

  <section
    id="experience"
    spyTarget="experience"
    class="spy-section section experience-section bg-g"
  >
    <app-experience></app-experience>
  </section>

  <section
    id="about"
    spyTarget="about"
    class="spy-section section about-section bg-dark"
  >
    <app-about></app-about>
  </section>

  <section
    id="skills"
    spyTarget="skills"
    class="spy-section section skills-section bg-g"
  >
    <app-skills></app-skills>
  </section>

  <section
    id="blog"
    spyTarget="blog"
    class="spy-section section blog-section bg-dark"
  >
    <app-blog></app-blog>
  </section>

  <section
    id="contact"
    spyTarget="contact"
    class="spy-section section contact-section bg-g"
  >
    <app-contact></app-contact>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="footer-info">
        <div class="footer-avatar">
          <img src="assets/img/about-banner.png" title="" alt="" />
        </div>
        <h6>Tobias Bielmann</h6>
      </div>
      <p class="copyright">© 2023 copyright all right reserved</p>
    </div>
  </footer>
  <a href="#home" id="return-to-top"><i class="bi-arrow-up-circle-fill"></i></a>
  <!-- End Footer -->
</main>
