<div class="container">
  <div class="row gy-5">
    <div class="section-heading">
      <h2>ABOUT</h2>
    </div>
    <div class="row gy-4">
      <div class="col-lg-5">
        <div class="about-left">
          <div class="about-avatar">
            <img src="assets/img/about-banner.png" title="" alt="" />
          </div>
          <h3>Tobias Bielmann</h3>
          <p>IT Business Engineer</p>
          <div class="btn-bar">
            <a class="px-btn" href="https://we.tl/t-zYjdqYSr6d">
              Download CV <i class="bi-download"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-7 ps-xl-5">
        <div class="about-bio">
          <h6>Short Profile</h6>
          <p>
            In three words, I would describe myself as organized, conscientious
            and sociable. Through my studies and the modules I have completed, I
            have acquired extensive knowledge of
            <span>project management and software architecture.</span> I am able
            to set clear goals and pursue them with a structured plan, while
            being flexible to new challenges. My commitment to open
            communication and my motivation to get the best out of my colleagues
            and teammates often contribute to the successful implementation of
            projects.
          </p>
          <div class="about-exp">
            <div class="row gy-4">
              <div class="col-md-6">
                <div class="a-number">
                  <h6>Interests</h6>
                </div>
                <ul>
                  <li>Photo- and videography</li>
                  <li>Floor- and football</li>
                  <li>Social Sience and Geography</li>
                  <li>Digital transformation</li>
                  <li>Kaizen & Agile mindset</li>
                </ul>
              </div>
              <div class="col-md-6">
                <div class="a-number">
                  <h6>Values</h6>
                </div>
                <p>
                  <li>Family and friends</li>
                  <li>Humility and gratitude</li>
                  <li>Pragmatic and determined</li>
                  <li>Accurate and skillful</li>
                  <li>Open-minded and uncomplicated</li>
                </p>
              </div>
              <div class="about-exp">
                <blockquote>
                  <i class="fa-solid fa-quote-left"></i>
                  <p>
                    "The only way to do great work is to love what you do"
                    (Steve Jobs)
                  </p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
