<div class="container">
  <div class="row gy-5">
    <div class="section-heading">
      <h2>Contact</h2>
      <h5>Reach out to me</h5>
    </div>
    <div class="contact-info">
      <ul>
        <li>
          <div class="icon">
            <i class="bi-chat-left-dots-fill"></i>
          </div>
          <div class="text">
            <label>Chat with me</label>
            <p>On Instagram or LinkedIn</p>
          </div>
        </li>
        <li>
          <div class="icon">
            <i class="bi-phone"></i>
          </div>
          <div class="text">
            <label>Call me or write me on WhatsApp</label>
            <p>+41 79 326 45 39</p>
          </div>
        </li>
        <li>
          <div class="icon">
            <i class="bi-envelope"></i>
          </div>
          <div class="text">
            <label>Write an E-Mail</label>
            <p>tobias@bielmanns.ch</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
