<div class="container">
  <div class="row gy-5">
    <div class="col-lg-5">
      <div class="section-heading">
        <h2>Experience</h2>
        <p>
          So far, I have been able to gain a diverse range of education and work
          experience in which I have been able to speak French and English as
          well as my native German. However, you never stop learning.
        </p>
      </div>
    </div>
    <div class="col-lg-7 ps-xl-5">
      <ul class="resume-box">
        <li>
          <div class="r-meta">
            <span>2015 - 2019</span>
            <label>Swiss Federal Diploma</label>
          </div>
          <h5>Apprenticeship as Electrician</h5>
        </li>
        <li>
          <div class="r-meta">
            <span>2020</span>
            <label>6 month, USA</label>
          </div>
          <h5>Language Study Trip</h5>
        </li>
        <li>
          <div class="r-meta">
            <span>Since 2021</span>
            <label>Self-employed</label>
          </div>
          <h5>IT Specialist & Content Creator</h5>
        </li>
        <li>
          <div class="r-meta">
            <span>Since 2021</span>
            <label>Bern University of Applied Sciences</label>
          </div>
          <h5>BSc in Business Informatics</h5>
        </li>
      </ul>
    </div>
  </div>
</div>
