<div class="container">
  <div class="row min-vh-100 align-items-center">
    <div class="col-lg-7 col-xl-7 col-xxl-6">
      <div class="hb-text">
        <h1>
          I am <br />
          <b>Tobias</b>
          <span
            ><br />
            Bielmann...</span
          >
        </h1>
        <p class="lead">
          <span>IT Business Engineer</span> based in <span>Switzerland</span>
        </p>
        <div class="btn-bar">
          <a class="px-btn" href="#contact">
            Get in touch <i class="bi-arrow-up-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="hb-me"
  style="background-image: url(assets/img/home-banner.png)"
></div>
