<!-- Mob header -->
<div class="mob-header">
  <div class="mob-h-left">
    <a class="navbar-brand" href="javascript:">
      <img
        class="logo-dark"
        title="tobiasbielmann"
        alt=""
        src="assets/img/logo.svg"
      />
      <img class="logo-light" title="" alt="" src="assets/img/logo-light.svg" />
    </a>
  </div>
  <div class="mob-h-right" (clickOutside)="onClickedOutside($event)">
    <button
      class="toggler-menu"
      [ngClass]="{ open: sidebarOpen }"
      (click)="toggleMenu()"
    >
      <span></span>
    </button>
  </div>
</div>
<!-- End -->
<!-- Header Top -->
<div
  class="header-left-fixed one-page-nav"
  [ngClass]="{ 'menu-open menu-open-desk': sidebarOpen }"
>
  <!-- Brand -->
  <div class="logo">
    <a class="navbar-brand" href="javascript:">
      <img class="logo-dark" title="" alt="" src="assets/img/logo.svg" />
      <img class="logo-light" title="" alt="" src="assets/img/logo-light.svg" />
    </a>
  </div>
  <!-- / -->
  <ul class="main-menu">
    <li>
      <a
        class="menu-item"
        spyOn="home"
        activeClass="active"
        href="#home"
        (click)="fullPageScroll('home')"
      >
        Home
      </a>
    </li>
    <li>
      <a
        class="menu-item"
        spyOn="experience"
        activeClass="active"
        href="#experience"
        (click)="fullPageScroll('experience')"
      >
        Experience
      </a>
    </li>
    <li>
      <a
        class="menu-item"
        spyOn="about"
        activeClass="active"
        href="#about"
        (click)="fullPageScroll('about')"
      >
        About
      </a>
    </li>
    <li>
      <a
        class="menu-item"
        spyOn="skills"
        activeClass="active"
        href="#skills"
        (click)="fullPageScroll('skills')"
      >
        Skills
      </a>
    </li>
    <li>
      <a
        class="menu-item"
        spyOn="blog"
        activeClass="active"
        href="#blog"
        (click)="fullPageScroll('blog')"
      >
        Blog
      </a>
    </li>
    <li>
      <a
        class="menu-item"
        spyOn="contact"
        activeClass="active"
        href="#contact"
        (click)="fullPageScroll('contact')"
      >
        Contact
      </a>
    </li>
  </ul>
  <ul class="nav social-link">
    <li>
      <a href="https://www.linkedin.com/in/tobiasbielmann/"
        ><i class="fab fa-linkedin"></i
      ></a>
    </li>
    <li>
      <a href="https://www.instagram.com/tobiasbielmann/"
        ><i class="fab fa-instagram"></i
      ></a>
    </li>
    <li>
      <a href="https://github.com/bielt1"><i class="fab fa-github"></i></a>
    </li>
    <li>
      <a href="https://open.spotify.com/user/qv493juugten7du1pwofv4msq"
        ><i class="fab fa-spotify"></i
      ></a>
    </li>
  </ul>
</div>
<!-- End Header Top -->
