<div class="container">
  <div class="section-heading">
    <h2>Skills</h2>
  </div>

  <div class="skills-container">
    <div class="skill-column">
      <div class="skill">
        <img src="assets/img/logo-wordpress.png" alt="" />
        <h3>WordPress</h3>
      </div>
      <p class="rating">★★★★★</p>
    </div>

    <div class="skill-column">
      <div class="skill">
        <img src="assets/img/logo-adobe.png" alt="" />
        <h3>Adobe</h3>
      </div>
      <p class="rating">★★★★☆</p>
    </div>

    <div class="skill-column">
      <div class="skill">
        <img src="assets/img/logo-microsoft-365.png" alt="" />
        <h3>Microsoft 365</h3>
      </div>
      <p class="rating">★★★★☆</p>
    </div>

    <div class="skill-column">
      <div class="skill">
        <img src="assets/img/logo-r-studio.png" alt="" />
        <h3>R Studio</h3>
      </div>
      <p class="rating">★★★☆☆</p>
    </div>

    <div class="skill-column">
      <div class="skill">
        <img src="assets/img/logo-html.png" alt="" />
        <h3>HTML</h3>
      </div>
      <p class="rating">★★★★☆</p>
    </div>

    <div class="skill-column">
      <div class="skill">
        <img src="assets/img/logo-css.png" alt="" />
        <h3>CSS</h3>
      </div>
      <p class="rating">★★★☆☆</p>
    </div>

    <div class="skill-column">
      <div class="skill">
        <img src="assets/img/logo-typescrypt.png" alt="" />
        <h3>TypeScript</h3>
      </div>
      <p class="rating">★★☆☆☆</p>
    </div>

    <div class="skill-column">
      <div class="skill">
        <img src="assets/img/logo-angular.png" alt="" />
        <h3>Angular</h3>
      </div>
      <p class="rating">★★★★☆</p>
    </div>

    <div class="skill-column">
      <div class="skill">
        <img src="assets/img/logo-python.png" alt="" />
        <h3>Python</h3>
      </div>
      <p class="rating">★★☆☆☆</p>
    </div>

    <div class="skill-column">
      <div class="skill">
        <img src="assets/img/logo-itil.png" alt="" />
        <h3>ITIL</h3>
      </div>
      <p class="rating">★★★★★</p>
    </div>

    <div class="skill-column">
      <div class="skill">
        <img src="assets/img/logo-archimate.png" alt="" />
        <h3>ArchiMate</h3>
      </div>
      <p class="rating">★★★☆☆</p>
    </div>

    <div class="skill-column">
      <div class="skill">
        <img src="assets/img/logo-uml.png" alt="" />
        <h3>UML</h3>
      </div>
      <p class="rating">★★★★☆</p>
    </div>
  </div>
</div>
